.row
  = link_to 'Reset Filters', programs_information_index_path, class: "btn btn-default", role: "button"
.row
  %br
  %p Court Type
  %ul.list-unstyled
    - @filters["program_type"].each do |result|
      %li
        = link_to_facet(:t, result['key'], result['doc_count'], true)
  %p States
  %ul.list-unstyled
    - @filters["state"].each do |result|
      %li
        = link_to_facet(:s, result['key'], result['doc_count'], true)
  %br
