%hr
.col-sm-3.col-md-3.col-md-offset-4.col-sm-offset-4
  .well
    %p Database statistic
    %table.table.table-condensed
      %thead
        %tr
          %th State
          %th District courts
          %th # of Court Types
      %tbody
        - @results.aggs["state"]["buckets"].each do |result|
          %tr
            %td= result['key']
            %td= result['doc_count']
            - uniq_program_type = ProgramInformation.where(state: result['key']).pluck(:program_type).uniq.count
            %td= uniq_program_type
  %br
  = link_to "Back", root_path, class: "btn btn-default btn-width"
