/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";
@import "dataTables/extras/dataTables.responsive";

.state-filter {
  min-height: 800px;
}

.modal-title {
  text-align: center;
  font-family: serif;
}

#user_email {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: serif;
}

#user_password {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: serif;
}

.login {
  width: 100%;
  border-radius: 5px;
  background: #9c6;
  font-family: serif;
}

.text-primary {
  color: rgb(51, 122, 183);
}

.table-condensed{
  font-size: 10px;
}

.btn-width {
  width: 100%
}

.my-nav-menu {
  //background-color: rgba(51, 122, 183, 0.29);
}

@media (max-width: 1024px) {
  .pagination .page.away-7 { display: none; }
  .pagination .page.away-6 { display: none; }
}

@media (max-width: 900px) {
  .pagination .page.away-5 { display: none; }
}
@media (max-width: 825px) {
  .pagination .page.away-4 { display: none; }
}
@media (max-width: 750px) {
  .pagination .page.away-3 { display: none; }
  .pagination .page.away-2 { display: none; }
}
@media (max-width: 400px) {
  .pagination .disabled { display: none; }
  .pagination { font-size: 10px; }
}
@media (max-width: 370px) {
  .pagination .page.away-1 { display: none; }
}

.container {
  padding-left: 2px;
  padding-right: 2px;
}

.dataTables_paginate a {
  margin: 5px;
}

tfoot {
  font-weight: bold;
}

body {
  background: #f9f9f9;
}
.states {
  fill: #dadada;
  cursor: pointer;
}
.state-path:hover {
  fill: #c4122e;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.hidden {
  display: none;
}
.relative {
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.map-section {
  background: #e8f6fc;
}

#bar-legend {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  font-size: 14px;
}
#bar-legend > div {
  width: 50%;
  cursor: pointer;
}
#bar-legend > div.selected {
  font-weight: bold;
}
#bar-legend > div span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 30px;
  height: 15px;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  #bar-legend > div {
    width: 25%;
  }
}
/* Us map popup */
#us-map-popup {
  border: 1px solid #d1d1d1;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
  padding: 10px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#us-map-popup h1 {
  font-size: 20px;
  margin: 0;
}

#us-map-popup p.description {
  font-size: 14px;
  line-height: 18px;
}

#us-map-popup h2 {
  font-size: 16px;
  margin: 0;
}

#us-map-popup .list-data {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#us-map-popup .list-data li {
  padding: 0;
  margin: 3px 0;
  font-size: 12px;
  width: 40%;
  line-height: 16px;
}

#us-map-popup .list-data li span.count {
  font-weight: bold;
  padding-left: 5px;
}

#bars-table {
  width: 100%;
}
#bars-table .sort.asc:after {
  content: "\2193 ";
}
#bars-table .sort.desc:after {
  content: "\2191 ";
}

#bars-table .bar-states {
  width: 80%;
}

#bars-table .bar-graph {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#bars-table .bar-graph .bar {
  background: #ccc;
  border: 1px solid #f9f9f9;
  height: 24px;
  position: relative;
  cursor: pointer;
}
#bars-table .bar {
  text-align: center;
}
#bars-table .bar span {
  display: none;
  position: absolute;
  left: 0;
  top: -30px;
  border: 1px solid #d1d1d1;
  background: #f8f8f8;
  padding: 3px;
  font-size: 12px;
  white-space: nowrap;
}
#bars-table .bar:hover span {
  display: block;
}

#us-map-legend {
  border: 1px solid #d1d1d1;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
  padding: 20px 10px;
  position: absolute;
}
@media (max-width: 1024px) {
  #us-map-legend {
    width: 200px;
    height: 70px;
    top: 0 !important;
  }
  #us-map {
    margin: 0;
    padding-top: 70px;
  }
  #us-map-popup {
    position: relative;
    width: 100%;
  }
  #us-map-popup .list-data li {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  #us-map-legend {
    width: 200px;
    height: 70px;
    bottom: 0;
  }
  #us-map {
    margin: 0 20% 5% 0;
  }
  #us-map-popup {
    width: 220px;
  }
  #us-map-popup .list-data li {
    width: 80%;
  }
}

@media (min-width: 1441px) {
  #us-map-legend {
    width: 300px;
    height: 70px;
    bottom: 30px;
  }
  #us-map {
    margin: 0 20%;
  }
  #us-map-popup {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
  }
  #us-map-popup .list-data li {
    width: 80%;
  }
}
